target/*
.settings/*
.classpath
.project
.factorypath
.attach_pid*
.idea
*.iml
/target
.sts4-cache/
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
_site/


bin/.settings/org.eclipse.jdt.core.prefs

bin/.settings/org.eclipse.core.resources.prefs

bin/target/classes/META-INF/MANIFEST.MF
